<form autocomplete='off'>
	{{!-- Linked Actor Display --}}
	<div>
		{{!-- Spellbook Linked Actor selection --}}
		<div class='flexrow'>
			<label for='bookOwner'>{{localize 'FSWorkshop.SpellBookGenerator.SelectOwner'}}</label>
			{{#unless isGM}}
			<select name='bookOwner' class='book-owner-select'>
				{{selectOptions validActorChoices selected=linkedId}}
			</select>
			{{else}}
			<label>{{localize 'FSWorkshop.SpellBookGenerator.GMCanOnlyDrop'}}</label>
			{{/unless}}
		</div>
		<hr>
		{{!-- Spellbook Linked Actor info --}}
		<div class='form-group flexrow' data-dtype='String' data-book-owner='{{linkedId}}'>
			<img class='owner-link-img' src='{{linkedImg}}' title='{{localize 'FSWorkshop.SpellBookGenerator.OpenSheet'}}'></img>
			<div class='flexcol book-owner-labels'>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.Name'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.Id'}}</label>
			</div>
			<div class='flexcol book-owner-data'>
				<input type='text' readonly class='book-owner-name' data-dtype='String'
					value='{{linked.name}}'></input>
				<input type='text' readonly class='book-owner-id' data-dtype='String' value='{{linkedId}}'></input>
			</div>
			<span class='owner-unlink' title='{{localize 'FSWorkshop.SpellBookGenerator.Unlink'}}'><i
					class='fas fa-unlink'></i></span>
		</div>
	</div>
	{{!-- Spell List Display --}}
	<div class="flexrow">
		<div class="flexcol">
			<div class='form-group flexrow' data-dtype='String' data-owner-class='{{linkedClass}}'>
				<label for='ownerClass'>{{localize 'FSWorkshop.SpellBookGenerator.SelectOwnerClass'}}</label>
				<select name='ownerClass' class='book-owner-select'>
					{{selectOptions validClassChoices selected=linkedClass}}
				</select>
			</div>
			<p class='help-text fs-center-text'><i class='fas fa-info-circle'></i> {{{localize 'FSWorkshop.SpellBookGenerator.Instructions'}}}</p>
			
			{{!-- Commands Section --}}
			<div class="flexcol">
				<button name="commands">{{localize 'FSWorkshop.SpellBookGenerator.Commands.Label'}}</button>
				<div id="commandsList">
					<button name="saveActor"{{#unless this.linked}} disabled{{/unless}}>{{localize 'FSWorkshop.SpellBookGenerator.Commands.SaveToActor' actor=this.linked.name}}</button>
					<button name="saveWorld">{{localize 'FSWorkshop.SpellBookGenerator.Commands.SaveToWorld'}}</button>
					<button name="restoreActor"{{#unless this.linked}} disabled{{/unless}}>{{localize 'FSWorkshop.SpellBookGenerator.Commands.RestoreFromActor' actor=this.linked.name}}</button>
					<button name="restoreWorld">{{localize 'FSWorkshop.SpellBookGenerator.Commands.RestoreFromWorld'}}</button>
				</div>
			</div>
			<hr>
			<div class='form-group flexrow'>
				<label for='spellLevelSelect'>{{localize 'FSWorkshop.SpellBookGenerator.spellLevelSelect'}}</label>
				<select name='spellLevelSelect' id='spellLevelSelect' class='spell-level-select'>
					{{selectOptions spellLevelChoices selected=linkSpellLevel}}
				</select>
			</div>
			<label for='spellLists'>{{localize 'FSWorkshop.SpellBookGenerator.spell'}}</label>
			<div name="spellZone" class="form-group flexcol">
				<div name='spellLists' class="spellLists">
					<div name='level0-list' id='level0-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList0='{{listLevel0}}'>
						<ul id='spellList0' name='spellList0' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level0}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level1-list' id='level1-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList1='{{listLevel1}}'>
						<ul id='spellList1' name='spellList1' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level1}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level2-list' id='level2-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList2='{{listLevel2}}'>
						<ul id='spellList2' name='spellList2' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level2}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level3-list' id='level3-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList3='{{listLevel3}}'>
						<ul id='spellList3' name='spellList3' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level3}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level4-list' id='level4-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList4='{{listLevel4}}'>
						<ul id='spellList4' name='spellList4' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level4}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level5-list' id='level5-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList5='{{listLevel5}}'>
						<ul id='spellList5' name='spellList5' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level5}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level6-list' id='level6-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList6='{{listLevel6}}'>
						<ul id='spellList6' name='spellList6' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level6}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level7-list' id='level7-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList7='{{listLevel7}}'>
						<ul id='spellList7' name='spellList7' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level7}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level8-list' id='level8-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList8='{{listLevel8}}'>
						<ul id='spellList8' name='spellList8' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level8}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
					<div name='level9-list' id='level9-list' class='form-group flexrow' style='display: block' data-dtype='String' data-spellList9='{{listLevel9}}'>
						<ul id='spellList9' name='spellList9' style="list-style: none; background: #C7C7C7;">
							{{#each spells as |spell|}}
								{{#if spell.level9}}
									<li>
										<label class="checkbox"><input type="checkbox" name="{{spell.name}}" class="spell" {{#if spell.checked}}checked{{/if}}>{{spell.name}}</label>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
				</div>
				<div name='spellButtons' class="spellButtons">
					<div class='flexrow'>
						<button name='spellBookCheckAll' class='fsSpellButton' type='button'>{{localize 'FSWorkshop.SpellBookGenerator.buttonSpellCheckAll'}}</button>
					</div>
					<div class='flexrow'>
						<button name='spellBookUncheckAll' class='fsSpellButton' type='button'>{{localize 'FSWorkshop.SpellBookGenerator.buttonSpellUncheckAll'}}</button>
					</div>
					<div class='flexrow'>
						<button name='spellBookSubLevel' class='fsSpellButton' type='button'>{{localize 'FSWorkshop.SpellBookGenerator.buttonSpellSubLevel'}}</button>
					</div>
					<div class='flexrow'>
						<button name='spellBookAddLevel' class='fsSpellButton' type='button'>{{localize 'FSWorkshop.SpellBookGenerator.buttonSpellAddLevel'}}</button>
					</div>
					<div class='flexrow'>
						<button name='spellBookRemoveSpell' class='fsSpellButton' type='button'>{{localize 'FSWorkshop.SpellBookGenerator.buttonSpellRemove'}}</button>
					</div>
					<div class='flexrow'>
						<button name='spellBookStats' class='fsSpellButton' type='button'><span><i class="fas fa-head-side-virus"></i></span> {{localize 'FSWorkshop.SpellBookGenerator.buttonBookStats'}}</button>
					</div>
					<div class='flexrow'>
						<button name='spellBookBrowser' class='fsSpellButton' type='button'>{{localize 'FSWorkshop.SpellBookGenerator.buttonSpellBrowseSpells'}}</button>
					</div>
				</div>
			</div>
		</div>
		{{!-- Spellbook Details --}}
		<div id='spellStats' {{#if statsHidden}}class='fsHidden'{{/if}}>
			<div class='flexrow'>
			<div class='flexcol book-stats-labels'>
				<label></label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsTotal'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsPages'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsBooks'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsPrice'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsValue'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats0'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats1'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats2'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats3'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats4'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats5'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats6'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats7'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats8'}}</label>
				<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats9'}}</label>
			</div>
			<div class='flexcol book-stats-data'>
				<label></label>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spellsTotal}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.pagesTotal}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.booksTotal}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.price}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.value}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells0}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells1}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells2}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells3}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells4}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells5}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells6}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells7}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells8}}'></input>
				<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells9}}'></input>
			</div>
			</div>
		</div>
	</div>
	<hr>
	<div class='form-group flexrow'>
		<button name='spellBookCancel' type='submit'><span class='fas fa-times-circle'></span> {{localize 'FSWorkshop.SpellBookGenerator.buttonBookCancel'}}</button>
		<button name='spellBookCreate' type='button'><span><i class='fab fa-leanpub'></i></span> {{localize 'FSWorkshop.SpellBookGenerator.buttonBookCreate'}}</button>
	</div>
</form>